@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.title {
  text-align: center;
  font-size: 9.0em;
  font-family: 'Luckiest Guy', cursive;
  background: url(./img/plaid.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
}

.btn {
  align-items: center;
  background: url(./img/tartan.jpg);
}
